
  <div id="bar-task" class="p-3 rounded-xl text-center main-border flex flex-col items-stretch ">
      <div class="text-left">
        <h4 class="font-bold text-gray-900">Priority breakdown</h4>
        <p class="text-sm font-normal text-gray-700"> Get a holistic view of how work is being prioritized. <a class="text-main underline ">See what your team's been focusing on</a> </p>
      </div>
      <div>
         <p-chart type="bar" [data]="priorityData" [options]="priorityOptions" ></p-chart>
      </div>
    
  

      <div>

      </div>
    </div>
  