<div class="w-full h-full p-4 rounded-xl shadow-xs main-border flex-col gap-4 bg-white dark:bg-black-100 dark:border-gray-700">
  <section class="mb-8">
    <h2 class="text-base font-semibold text-gray-900 mb-1 dark:text-gray-200">Team workload</h2>
    <p class="text-sm text-gray-600 dark:text-gray-300">
      Monitor the capacity of your team.
      <a href="#" class="text-blue-600 hover:underline">Reassign work items to get the right balance</a>
    </p>
  </section>

  <div class="flex items-center justify-between ">
    <div>
      <div class="flex items-center gap-2 mb-2">
          <div class="w-7 h-7 flex items-center justify-center rounded-full bg-gray-400 dark:text-black-50">
            <i class="pi pi-user text-white text-sm" aria-hidden="true"></i>
          </div>
          <span class="text-sm text-gray-800 dark:text-gray-300">Unassigned</span>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-7 h-7 flex items-center justify-center rounded-full bg-gray-400">
            <i class="pi pi-user text-white text-sm" aria-hidden="true"></i>
          </div>
          <span class="text-sm text-gray-800 dark:text-gray-300">Assigned</span>
        </div>
    </div>

    <div>
      <p-chart 
        type="bar"
        [data]="chartData"
        [options]="chartOptions"
      ></p-chart>
    </div>
  </div>
</div>