
  <div id="work-type-task" class="p-3 rounded-xl text-center main-border flex flex-col w-full h-full dark:bg-black-100 dark:border-gray-700">
      <div class="text-left">
        <h4 class="font-bold text-gray-900 mb-2 dark:text-gray-200">Types of work</h4>
        <p class="text-sm font-normal text-gray-700 mb-6 dark:text-gray-300"> Get a breakdown of work items by their types. <a class="text-main hover:underline ">View all items</a> </p>
      </div>
      <div *ngFor="let type of workTypes" class="mb-5">
      <div class="flex justify-between mb-1 text-sm text-gray-700 dark:text-black-50">
        <span class="flex items-center gap-1 dark:text-gray-300">
          <i [class]="type.icon"></i> {{ type.label }}
        </span>
        <span>{{ type.value }}%</span>
      </div>
      <div class="h-3 bg-gray-200 rounded-full">
        <div
          class="h-3 rounded-full bg-gray-600"
          [ngStyle]="{ width: type.value + '%' }"
        ></div>
      </div>
     </div>
    

      <div>

      </div>
    </div>
  

    