<section>
    <div class="container p-5">
      <h1 class="text-base text-main ">
        One app to<br>
        replace them all.
      </h1>
      <p class="text-base my-4">
        All your work in one place:
      </p>
      <div class="feature">
        <div class="d-flex align-items-center gap-3 flex-wrap">
            <button class="d-flex align-items-center gap-3">
              <span class="text-base">Tasks</span>
              <img src="assets/images/correct1.svg" alt="correct">
            </button>
            <button class="d-flex align-items-center gap-3">
              <span class="text-base">Whiteboards</span>
              <img src="assets/images/board2.svg" alt="whiteboards">
            </button>
            <button class="d-flex align-items-center gap-3">
              <span class="text-base">Dashboards</span>
              <img src="assets/images/board3.svg" alt="dashboards">
            </button>
        </div>
        <div class="d-flex align-items-center gap-3 mt-3 flex-wrap">
          <button class="d-flex align-items-center gap-3">
            <span class="text-base">Chat</span>
            <img src="assets/images/hash4.svg" alt="chat">
          </button>
          <button class="d-flex align-items-center gap-3">
            <span class="text-base">Goals</span>
            <img src="assets/images/prize5.svg" alt="goals">
          </button>
          <button class="d-flex align-items-center gap-3">
            <span class="text-base">Docs</span>
            <img src="assets/images/docs.svg" alt="docs">
          </button>
      </div>
      </div>
      <div class="d-flex align-items-center pt-4 flex-wrap gap-3">
        <button class="start">
          Get Started for Free
        </button>
        <p class="text-base fw-bolder uppercase" id="free">
          Free forever.
          <br>
          No credit card.
        </p>
      </div>
    </div>
</section>


