


  <!-- Navbar -->
<header class="flex justify-between items-center px-6 py-4 bg-white shadow fixed top-0 left-0 right-0 z-10 h-[73px]">
  <div class="flex items-center space-x-2">
    <img src="../../../../assets/images/logo.svg" alt="logo" class="h-6 w-6">
    <span class="text-xl font-bold text-black-50 pt-0.5">Nazamaha</span>
  </div>

  <div class="flex space-x-2">
    @if(!isLogin()){
    <button type="button" routerLink="/login" class="bg-linear text-white text-sm px-4 py-1 rounded-2xl">Login</button>
    <button type="button" routerLink="/register" class="bg-linear text-white text-sm px-4 py-1 rounded-2xl">Signup</button>
    }

    @if(isLogin()){
    <button type="button" (click)="logout()" class="bg-linear text-white text-sm px-4 py-1 rounded-2xl">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4z"/></svg>
    </button>
    }



  </div>
</header>

