



<!-- skeleton loader -->
@if(isLoading()){
<!-- Skeleton Loader Container (Wrap multiple for a grid) -->

 <main class="project bg-[#fefefe] dark:bg-black-100 py-6 px-6 min-h-screen dark:bg-black-200">
 <header class=" animate-pulse flex items-center justify-between">
  <div class="h-12  bg-gray-200 rounded-lg dark:bg-gray-700 w-40 mb-4"></div>
  <div class="h-8  bg-gray-200 rounded-lg dark:bg-gray-700 w-52 mb-4"></div>

 </header>
  <div class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-5 ">
  @for(item of [1,2,3,4,5,6]; track $index){
  <div role="status" class="p-6 max-w-sm w-full rounded-lg border border-gray-200 shadow animate-pulse">
    <!-- Header Row -->
    <div class="flex justify-between items-center mb-4">
      <div class="h-6 w-24 bg-gray-200 rounded-full"></div>
      <div class="h-6 w-6 bg-gray-200 rounded-full"></div>
    </div>
    <!-- Avatar & Title -->
    <div class="flex items-center gap-4 mb-2">
      <div class="h-10 w-10 rounded-full bg-gray-200"></div>
      <div class="flex-1">
        <div class="h-4 w-full bg-gray-200 rounded-full mb-1"></div>
        <div class="h-3 w-full bg-gray-200 rounded-full"></div>
      </div>
    </div>

    <!-- Team Avatars -->
    <div class="mb-4">
      <div class="h-3 w-16 bg-gray-200 rounded-full mb-2"></div>
      <div class="flex space-x-2">
        <div class="h-4 w-4 rounded-full bg-gray-200"></div>
        <div class="h-4 w-4 rounded-full bg-gray-200"></div>
        <div class="h-4 w-4 rounded-full bg-gray-200"></div>
        <div class="h-4 w-4 rounded-full bg-gray-200"></div>
      </div>
    </div>

    <!-- Priority & Progress -->
    
    <div class="h-3 w-full bg-gray-200 rounded-full mb-4"></div>

    <!-- Dates -->
    <div class="flex justify-between">
      <div>
        <div class="h-3 w-20 bg-gray-200 rounded-full mb-1"></div>
        <div class="h-3 w-16 bg-gray-200 rounded-full"></div>
      </div>
      <div>
        <div class="h-3 w-20 bg-gray-200 rounded-full mb-1"></div>
        <div class="h-3 w-16 bg-gray-200 rounded-full"></div>
      </div>
    </div>

    <span class="sr-only">Loading...</span>
  </div>
  }

  </div>
 </main>

}



@if(!isLoading()){
<main class="project bg-[#fefefe] dark:bg-black-100 py-6 px-6 min-h-screen dark:bg-black-200">
  <!-- create project and search -->
  <div class="project-header w-full flex items-center justify-between flex-wrap px-6 py-6 main-border rounded-lg shadow-sm bg-white dark:bg-black-100 dark:border-gray-700">
    <div id="create-project" class="flex-1 mb-4 sm:mb-0">
      <button data-modal-target="create-project-model" data-modal-toggle="create-project-model"
        class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors cursor-pointer bg-blue-600 hover:bg-blue-700 text-white h-10 px-4 py-3 whitespace-nowrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="w-4 h-4 ltr:mr-2 rtl:ml-2">
          <path d="M5 12h14"></path>
          <path d="M12 5v14"></path>
        </svg>
        Add Project
      </button>
    </div>
    <div class="search-bar w-full sm:w-fit">
      <input type="text"
        class="w-full px-4 py-2.5 main-border rounded-lg text-sm placeholder:text-sm font-medium focus:border-blue-500 bg-white dark:bg-black-200 dark:text-gray-100 dark:placeholder-gray-400 dark:border-gray-800"
        placeholder="Search..." aria-label="Search" aria-describedby="search-addon" />
    </div>
  </div>
  <!-- projects items -->
  <div class="project-table grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-5 w-full mt-6" style="perspective: 800px;">
    @for (project of projects(); track project.id) {
       <!-- project item component -->
        <app-project-item [project]="project" (deleteProject)="onDeleteProject($event)" (editProject)="onEditProject($event)" ></app-project-item>
    }
  
  </div>
</main>
}






<!-- Model toggle create project -->
<app-project-modal (OnCreateProject)="OnCreateProject($event)" ></app-project-modal>

<app-update-project-modal [projectValue]="projectValue()" ></app-update-project-modal>

