<div class="login flex h-screen">
  <div class="login-sketch--welcome w-1/2 hidden xl:block linear-bg-blue rounded-tr-4xl rounded-br-4xl ">
  <a routerLink="/login" class="flex items-center pl-5 pt-8 ">
    <img src="../../../../assets/images/logo.svg" alt="logo-image" width="64" height="64">
    <span class="text-white font-semibold  text-2xl ml-2">Nazamaha</span>
  </a>
  <h2 class="text-center text-white font-bold text-5xl mt-12 mb-4">Welcome to Nazamaha</h2>
  <p class="text-center text-white font-medium text-2xl">To get started, please Login</p>
  </div>
  <div class="login-form w-1/4">
    <div class="form mx-auto mt-32">
      <h2 class="text-3xl  font-bold  ">Hey, Hello 👋</h2>
    </div>
  </div>

</div>