.bg-primary-50:hover {
  color: #0079fb !important;
}

.bg-teal {
    background-color: #06b6d4;
}
.bg-default-100  {
 background-color: #f1f5f9;
}


.z-40 {
  background-color: oklab(0.999994 0.0000455677 0.0000200868 / 0.8);
  filter: blur(4px);
  backdrop-filter: blur(4px);
}
