.bg-primary-50:hover {
  color: #0079fb !important;
}

.bg-teal {
    background-color: #06b6d4;
}
.bg-default-100  {
 background-color: #f1f5f9;
}


body {
  position: relative;
}


// .sidebar-nav ul li:hover {
//   background:  #F3F4F6 !important;
// }

.main-transition {
  transition: all 0.3s ease-in-out;
}