.bg-primary-50:hover {
  color: #0079fb !important;
}

.bg-teal {
    background-color: #06b6d4;
}
.bg-default-100  {
 background-color: #f1f5f9;
}
.bg-linear {
  background: linear-gradient(-6.37deg, #58A8FF 0%, #1A88FF 100%);
}

.bg-linear-2 {
  background: linear-gradient(-172.852deg, #288FFF 0%, #EAEFFF 100%);
}

body {
  position: relative;
}


// .sidebar-nav ul li:hover {
//   background:  #F3F4F6 !important;
// }

.main-transition {
  transition: all 0.3s ease-in-out;
}