
@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$main-text: #292D34;
a {
  text-decoration: none;
}
body{
  min-height: 100vh;
  overflow: hidden;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #fefeff;
}
.text-base {
  color: #292D34;
  font-weight: 700;
  text-align: center;
}
.text-main {
  color: $main-text;
}


.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
